body{
  background-color: darkred;
  color: black;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}


.drum-pad {
  font-size: 18px;
  font-weight: bold;
  width: 50px;
  height: 50px;
}

.display {
  background-color: pink;
  padding: 2px 2px 2px 2px;
  font-size: 24px;
  font-weight: bold;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type="range"].volume2::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 26px;
  width: 30px;
  background-image: url(sliderPics/volume2.png);
  background-position: center center;
  background-repeat: no-repeat;
}

input[type="range"].noVolume::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 26px;
  width: 30px;
  background-image: url(sliderPics/volume0.png);
  background-position: center center;
  background-repeat: no-repeat;
}

input[type="range"].volume1::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 26px;
  width: 30px;
  background-image: url(sliderPics/volume1.png);
  background-position: center center;
  background-repeat: no-repeat;
}

input[type="range"].volume3::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 26px;
  width: 30px;
  background-image: url(sliderPics/volume3.png);
  background-position: center center;
  background-repeat: no-repeat;
}